body {
  display: flex;
  flex-direction: column;
}

body>:nth-child(2) {
  flex-grow: 1;
}

main {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

@media (min-width: 45em) {
  main {
    text-align: left;
    margin-bottom: 0;
  }
}

.content p:not([class]) {
  max-width: 28.7rem;
}