.technology {
  background-image: url('../../assets/technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}

@media (min-width: 35em) {
  .technology {
    background-image: url('../../assets/technology/background-technology-tablet.jpg');
  }
}

@media (min-width: 45em) {
  .technology {
    background-image: url('../../assets/technology/background-technology-desktop.jpg');
  }
}

.grid-12--technology {
  overflow: hidden;
}

.grid-12--technology>h1 {
  grid-column: 1/-1;
}

.grid-12--technology>picture {
  transform: scale(1.1);
  margin-block: 1rem;
  grid-column: 1 /-1;
  border-bottom: 1px solid hsl(var(--clr-light)/.2);
}

.grid-12--technology>.tab-list {
  grid-column: 1 / -1;
}

.grid-12--technology>.content {
  grid-column: 1 / -1;
}

@media (min-width: 35em) {
  .grid-12--technology {
    padding-bottom: 0;
  }

  .grid-12--technology>h1 {
    justify-self: start;
  }
}

@media (min-width: 45em) {

  .grid-12--technology {
    align-content: stretch;
  }

  .grid-12--technology>h1 {
    grid-column: 2 / 13;
  }

  .grid-12--technology>picture {
    max-width: 85%;
    grid-column: 8/13;
    grid-row: 2;
    justify-self: end;
    align-self: start;
  }

  .grid-12--technology>.content {
    justify-self: start;
    grid-column: 3/8;
    grid-row: 2;
  }

  .grid-12--technology>.number-indicators {
    flex-direction: column;
    justify-self: end;
    grid-column: 2;
    grid-row: 2;
  }
}