.primary-navigation {
  padding: 1.5rem;
  --gap: clamp(3rem, 5vw, 5rem);
  justify-content: center;
  background-color: hsl(var(--clr-light) /.1);
  backdrop-filter: blur(10px);

  list-style: none;
}

.primary-navigation a {
  text-decoration: none;
}