.underline-indicators>* {
  border-bottom: 3px solid transparent;
  padding-block: var(--underline-space, 1rem);
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
  border-color: hsl(var(--clr-accent));
}

.underline-indicators>.active,
.underline-indicators>[aria-selected="true"] {
  border-color: hsl(var(--clr-light));
}

.underline-indicators--space-md {
  --underline-space: 1.5rem;
}

.underline-indicators--space-lg {
  --underline-space: 2rem;
}