$colors: "dark", "accent", "light";

@each $color in $colors {
  .text-#{$color} {
    color: hsl(var(--clr-#{$color}));
  }

  .bg-#{$color} {
    background-color: hsl(var(--clr-#{$color}));
  }
}

// opacity
$sizes: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $size in $sizes {
  .opac-#{$size} {
    opacity: calc($size / 1000);
  }
}