.flow>*+* {
  margin-top: var(--flow-space, 1rem);
}

$flow-spaces: sm 0.5rem,
  nm 1rem,
  lg 2rem,
  xl 3rem;

@each $name, $value in $flow-spaces {
  .flow--space-#{$name} {
    --flow-space: #{$value};
  }
}

// padding and margins
$space-sizes: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 20, 24;
$directions: 'x' 'inline', 'y' 'block', 't' 'top', 'b' 'bottom', 'l' 'left', 'r' 'right';
$types: 'p' 'padding', 'm' 'margin';
$multiplier: 0.25rem;

@each $tname, $tvalue in $types {
  @each $size in $space-sizes {
    .#{$tname}-#{$size} {
      #{$tvalue}: $size * $multiplier;
    }
  }

  @each $dirname, $dirvalue in $directions {
    @each $size in $space-sizes {
      .#{$tname}#{$dirname}-#{$size} {
        #{$tvalue}-#{$dirvalue}: $size * $multiplier;
      }
    }
  }
}