$sizes: 200, 300, 400, 500, 600, 700, 800, 900;

// font-size
@each $fs in $sizes {
  .fs-#{$fs} {
    font-size: var(--fs-#{$fs});
  }
}

// font-family
$font-family: 'sans', 'sans-cond', 'serif';

@each $ff in $font-family {
  .ff-#{$ff} {
    font-family: var(--ff-#{$ff});
  }
}

// letter spacing
$letter-spacing: md, lg, xl;

@each $name in $letter-spacing {
  .letter-spacing-#{$name} {
    letter-spacing: var(--letter-spacing-#{$name})
  }
}