@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
:root {
  --clr-light: 0 0% 100%;
  --clr-accent: 231 77% 90%;
  --clr-dark: 230 35% 7%;
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.75rem;
  --ff-serif: "Bellefair", serif;
  --ff-sans: "Barlow", sans-serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --letter-spacing-md: 0.235ch;
  --letter-spacing-lg: 0.27ch;
  --letter-spacing-xl: 0.475ch;
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.text-light {
  color: hsl(var(--clr-light));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.opac-100 {
  opacity: 0.1;
}

.opac-200 {
  opacity: 0.2;
}

.opac-300 {
  opacity: 0.3;
}

.opac-400 {
  opacity: 0.4;
}

.opac-500 {
  opacity: 0.5;
}

.opac-600 {
  opacity: 0.6;
}

.opac-700 {
  opacity: 0.7;
}

.opac-800 {
  opacity: 0.8;
}

.opac-900 {
  opacity: 0.9;
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.ff-sans {
  font-family: var(--ff-sans);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.letter-spacing-md {
  letter-spacing: var(--letter-spacing-md);
}

.letter-spacing-lg {
  letter-spacing: var(--letter-spacing-lg);
}

.letter-spacing-xl {
  letter-spacing: var(--letter-spacing-xl);
}

.text-h1 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-900);
}

.text-h2 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-800);
}

.text-h3 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-700);
}

.text-h4 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
}

.text-h5 {
  text-transform: uppercase;
  color: hsl(var(--clr-light)/0.5);
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);
  letter-spacing: var(--letter-spacing-lg);
}

.text-subh1 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: --fs-500;
}

.text-subh2 {
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: --fs-300;
}

.uppercase {
  text-transform: uppercase;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-sm {
  --flow-space: 0.5rem;
}

.flow--space-nm {
  --flow-space: 1rem;
}

.flow--space-lg {
  --flow-space: 2rem;
}

.flow--space-xl {
  --flow-space: 3rem;
}

.p-xs {
  padding: 0.5rem;
}

.px-xs {
  padding-inline: 0.5rem;
}

.py-xs {
  padding-block: 0.5rem;
}

.m-xs {
  margin: 0.5rem;
}

.mx-xs {
  margin-inline: 0.5rem;
}

.my-xs {
  margin-block: 0.5rem;
}

.p-sm {
  padding: 1rem;
}

.px-sm {
  padding-inline: 1rem;
}

.py-sm {
  padding-block: 1rem;
}

.m-sm {
  margin: 1rem;
}

.mx-sm {
  margin-inline: 1rem;
}

.my-sm {
  margin-block: 1rem;
}

.p-md {
  padding: 1.5rem;
}

.px-md {
  padding-inline: 1.5rem;
}

.py-md {
  padding-block: 1.5rem;
}

.m-md {
  margin: 1.5rem;
}

.mx-md {
  margin-inline: 1.5rem;
}

.my-md {
  margin-block: 1.5rem;
}

.p-lg {
  padding: 2rem;
}

.px-lg {
  padding-inline: 2rem;
}

.py-lg {
  padding-block: 2rem;
}

.m-lg {
  margin: 2rem;
}

.mx-lg {
  margin-inline: 2rem;
}

.my-lg {
  margin-block: 2rem;
}

.p-xl {
  padding: 3rem;
}

.px-xl {
  padding-inline: 3rem;
}

.py-xl {
  padding-block: 3rem;
}

.m-xl {
  margin: 3rem;
}

.mx-xl {
  margin-inline: 3rem;
}

.my-xl {
  margin-block: 3rem;
}

.p-xxl {
  padding: 4rem;
}

.px-xxl {
  padding-inline: 4rem;
}

.py-xxl {
  padding-block: 4rem;
}

.m-xxl {
  margin: 4rem;
}

.mx-xxl {
  margin-inline: 4rem;
}

.my-xxl {
  margin-block: 4rem;
}

.p-xxxl {
  padding: 5rem;
}

.px-xxxl {
  padding-inline: 5rem;
}

.py-xxxl {
  padding-block: 5rem;
}

.m-xxxl {
  margin: 5rem;
}

.mx-xxxl {
  margin-inline: 5rem;
}

.my-xxxl {
  margin-block: 5rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
}

.container {
  max-width: 80rem;
  padding: 1rem;
}

.container--center {
  margin-inline: auto;
}

/*--------------------*/
/* RESET START        */
/*--------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* reset the font-weight tobe normal*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*--------------------*/
/* RESET END        */
/*--------------------*/
* {
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-light));
  font-family: var(--ff-sans);
  line-height: 1.5;
}

.primary-navigation {
  --gap: clamp(3rem, 5vw, 5rem);
  justify-content: center;
  background-color: hsl(var(--clr-light)/0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  list-style: none;
}

.primary-navigation a {
  text-decoration: none;
}

.underline-indicators > * {
  border-bottom: 3px solid transparent;
  padding-block: var(--underline-space, 1rem);
}

.underline-indicators > .active {
  border-color: hsl(var(--clr-light));
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-accent));
}

.underline-indicators--space-md {
  --underline-space: 1.5rem;
}

.underline-indicators--space-lg {
  --underline-space: 2rem;
}/*# sourceMappingURL=main.css.map */