@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
:root {
  --clr-light: 0 0% 100%;
  --clr-accent: 231 77% 90%;
  --clr-dark: 230 35% 7%;
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: clamp(5rem, 7vw + 1rem, 6.25rem);
  --fs-700: clamp(2.5rem, 5vw + 1rem, 3.5rem);
  --fs-600: clamp(1.75rem, 5vw + 1rem, 2rem);
  --fs-500: 1.75rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.75rem;
  --ff-serif: "Bellefair", serif;
  --ff-sans: "Barlow", sans-serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --letter-spacing-md: 0.235ch;
  --letter-spacing-lg: 0.27ch;
  --letter-spacing-xl: 0.475ch;
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.text-light {
  color: hsl(var(--clr-light));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.opac-100 {
  opacity: 0.1;
}

.opac-200 {
  opacity: 0.2;
}

.opac-300 {
  opacity: 0.3;
}

.opac-400 {
  opacity: 0.4;
}

.opac-500 {
  opacity: 0.5;
}

.opac-600 {
  opacity: 0.6;
}

.opac-700 {
  opacity: 0.7;
}

.opac-800 {
  opacity: 0.8;
}

.opac-900 {
  opacity: 0.9;
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.ff-sans {
  font-family: var(--ff-sans);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.letter-spacing-md {
  letter-spacing: var(--letter-spacing-md);
}

.letter-spacing-lg {
  letter-spacing: var(--letter-spacing-lg);
}

.letter-spacing-xl {
  letter-spacing: var(--letter-spacing-xl);
}

.text-h1 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-900);
}

.text-h2 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-800);
}

.text-h3 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-700);
}

.text-h4 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
}

.text-h5 {
  text-transform: uppercase;
  color: hsl(var(--clr-light)/0.5);
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);
  letter-spacing: var(--letter-spacing-lg);
}

.text-subh1 {
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
}

.text-subh2 {
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-300);
}

.uppercase {
  text-transform: uppercase;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-sm {
  --flow-space: 0.5rem;
}

.flow--space-nm {
  --flow-space: 1rem;
}

.flow--space-lg {
  --flow-space: 2rem;
}

.flow--space-xl {
  --flow-space: 3rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-11 {
  padding: 2.75rem;
}

.p-12 {
  padding: 3rem;
}

.p-14 {
  padding: 3.5rem;
}

.p-16 {
  padding: 4rem;
}

.p-20 {
  padding: 5rem;
}

.p-24 {
  padding: 6rem;
}

.px-0 {
  padding-inline: 0rem;
}

.px-1 {
  padding-inline: 0.25rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.px-3 {
  padding-inline: 0.75rem;
}

.px-4 {
  padding-inline: 1rem;
}

.px-5 {
  padding-inline: 1.25rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.px-7 {
  padding-inline: 1.75rem;
}

.px-8 {
  padding-inline: 2rem;
}

.px-9 {
  padding-inline: 2.25rem;
}

.px-10 {
  padding-inline: 2.5rem;
}

.px-11 {
  padding-inline: 2.75rem;
}

.px-12 {
  padding-inline: 3rem;
}

.px-14 {
  padding-inline: 3.5rem;
}

.px-16 {
  padding-inline: 4rem;
}

.px-20 {
  padding-inline: 5rem;
}

.px-24 {
  padding-inline: 6rem;
}

.py-0 {
  padding-block: 0rem;
}

.py-1 {
  padding-block: 0.25rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.py-3 {
  padding-block: 0.75rem;
}

.py-4 {
  padding-block: 1rem;
}

.py-5 {
  padding-block: 1.25rem;
}

.py-6 {
  padding-block: 1.5rem;
}

.py-7 {
  padding-block: 1.75rem;
}

.py-8 {
  padding-block: 2rem;
}

.py-9 {
  padding-block: 2.25rem;
}

.py-10 {
  padding-block: 2.5rem;
}

.py-11 {
  padding-block: 2.75rem;
}

.py-12 {
  padding-block: 3rem;
}

.py-14 {
  padding-block: 3.5rem;
}

.py-16 {
  padding-block: 4rem;
}

.py-20 {
  padding-block: 5rem;
}

.py-24 {
  padding-block: 6rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pl-14 {
  padding-left: 3.5rem;
}

.pl-16 {
  padding-left: 4rem;
}

.pl-20 {
  padding-left: 5rem;
}

.pl-24 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pr-14 {
  padding-right: 3.5rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pr-24 {
  padding-right: 6rem;
}

.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}

.m-10 {
  margin: 2.5rem;
}

.m-11 {
  margin: 2.75rem;
}

.m-12 {
  margin: 3rem;
}

.m-14 {
  margin: 3.5rem;
}

.m-16 {
  margin: 4rem;
}

.m-20 {
  margin: 5rem;
}

.m-24 {
  margin: 6rem;
}

.mx-0 {
  margin-inline: 0rem;
}

.mx-1 {
  margin-inline: 0.25rem;
}

.mx-2 {
  margin-inline: 0.5rem;
}

.mx-3 {
  margin-inline: 0.75rem;
}

.mx-4 {
  margin-inline: 1rem;
}

.mx-5 {
  margin-inline: 1.25rem;
}

.mx-6 {
  margin-inline: 1.5rem;
}

.mx-7 {
  margin-inline: 1.75rem;
}

.mx-8 {
  margin-inline: 2rem;
}

.mx-9 {
  margin-inline: 2.25rem;
}

.mx-10 {
  margin-inline: 2.5rem;
}

.mx-11 {
  margin-inline: 2.75rem;
}

.mx-12 {
  margin-inline: 3rem;
}

.mx-14 {
  margin-inline: 3.5rem;
}

.mx-16 {
  margin-inline: 4rem;
}

.mx-20 {
  margin-inline: 5rem;
}

.mx-24 {
  margin-inline: 6rem;
}

.my-0 {
  margin-block: 0rem;
}

.my-1 {
  margin-block: 0.25rem;
}

.my-2 {
  margin-block: 0.5rem;
}

.my-3 {
  margin-block: 0.75rem;
}

.my-4 {
  margin-block: 1rem;
}

.my-5 {
  margin-block: 1.25rem;
}

.my-6 {
  margin-block: 1.5rem;
}

.my-7 {
  margin-block: 1.75rem;
}

.my-8 {
  margin-block: 2rem;
}

.my-9 {
  margin-block: 2.25rem;
}

.my-10 {
  margin-block: 2.5rem;
}

.my-11 {
  margin-block: 2.75rem;
}

.my-12 {
  margin-block: 3rem;
}

.my-14 {
  margin-block: 3.5rem;
}

.my-16 {
  margin-block: 4rem;
}

.my-20 {
  margin-block: 5rem;
}

.my-24 {
  margin-block: 6rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.ml-16 {
  margin-left: 4rem;
}

.ml-20 {
  margin-left: 5rem;
}

.ml-24 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mr-14 {
  margin-right: 3.5rem;
}

.mr-16 {
  margin-right: 4rem;
}

.mr-20 {
  margin-right: 5rem;
}

.mr-24 {
  margin-right: 6rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  place-items: center;
}

.grid-12 > * {
  grid-column: 1/-1;
}

@media (min-width: 35em) {
  .grid-12 {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 45em) {
  .grid-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
.container {
  max-width: 80rem;
  padding: 1rem;
}

.container--center {
  margin-inline: auto;
}

.circle {
  position: relative;
  display: grid;
  place-content: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: var(--circle-space, 1rem);
  aspect-ratio: 1;
  border-radius: 50%;
}

.circle,
.circle a {
  text-decoration: none;
}

.circle--hover {
  z-index: 1;
  margin: clamp(2rem, 5vw, 4rem);
}

.circle--hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  aspect-ratio: 1;
  background-color: hsl(var(--clr-light)/0.25);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 200ms linear, transform 200ms ease-in-out;
}

.circle--hover:hover::after {
  opacity: 1;
  transform: scale(1.5);
}

.circle--md {
  --circle-space: 2rem;
}

.circle--lg {
  --circle-space: 3rem;
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*--------------------*/
/* RESET START        */
/*--------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

/* reset the font-weight tobe normal*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

img:not([hidden]),
picture:not([hidden]) {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*--------------------*/
/* RESET END        */
/*--------------------*/
* {
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-light));
  font-family: var(--ff-sans);
  line-height: 1.5;
}

.primary-navigation {
  --underline-space: 2rem;
  --gap: clamp(2rem, 5vw, 5rem);
  padding-inline: clamp(3rem, 8vw, 8rem);
  background-color: hsl(var(--clr-light)/0.1);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  list-style: none;
}

.primary-navigation a {
  text-decoration: none;
}

@media (max-width: 34.999em) {
  .primary-navigation {
    --gap: 0.5rem;
    --underline-space: 0.5rem;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30vw;
    margin-block: 0;
    padding-inline: 3rem;
    padding-block: min(5rem, 20vh);
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0%);
  }
  .primary-navigation > * {
    border-color: transparent;
  }
}
.tab-list > * {
  color: hsl(var(--clr-accent));
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.tab-list > [aria-selected=true] {
  color: hsl(var(--clr-light));
}

.underline-indicators > * {
  border-bottom: 3px solid transparent;
  padding-block: var(--underline-space, 1rem);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-accent));
}

.underline-indicators > .active,
.underline-indicators > [aria-selected=true] {
  border-color: hsl(var(--clr-light));
}

.underline-indicators--space-md {
  --underline-space: 1.5rem;
}

.underline-indicators--space-lg {
  --underline-space: 2rem;
}

.dot-indicators > * {
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(var(--clr-light)/0.2);
  border: none;
}

.dot-indicators > [aria-selected=true] {
  background-color: hsl(var(--clr-light));
}

.dot-indicators > :hover {
  background-color: hsl(var(--clr-accent));
}

.number-indicators {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}

.number-indicators > * {
  display: grid;
  place-content: center;
  place-items: center;
  padding: 0 1.5rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid hsl(var(--clr-light)/0.2);
  color: hsl(var(--clr-light));
}

.number-indicators > [aria-selected=true],
.number-indicators > .active {
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
}

.number-indicators > :hover,
.number-indicators > :focus {
  border-color: hsl(var(--clr-light));
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

.primary-header .logo {
  margin-left: clamp(1rem, 4vw, 2rem);
  margin-top: 2rem;
  width: clamp(2rem, 5vw, 3rem);
  aspect-ratio: 1;
}

.toggle-nav-mobile {
  position: absolute;
  z-index: 2000;
  top: 2rem;
  right: 1rem;
  width: 32px;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/shared/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.toggle-nav-mobile[aria-expanded=true] {
  background-image: url("../../assets/shared/icon-close.svg");
}

.primary-header .line {
  display: none;
}

@media (min-width: 35em) {
  .primary-header .logo {
    margin-top: unset;
  }
  .toggle-nav-mobile {
    display: none;
  }
}
@media (min-width: 45em) {
  .primary-header {
    margin-top: 1.5rem;
  }
  .primary-header {
    --gap: 0;
  }
  .primary-header .line {
    position: relative;
    z-index: 2000;
    flex: 1;
    display: block;
    width: 100%;
    height: 1px;
    transform: translateX(2rem);
    background-color: hsl(var(--clr-light)/0.3);
  }
}
body {
  display: flex;
  flex-direction: column;
}

body > :nth-child(2) {
  flex-grow: 1;
}

main {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

@media (min-width: 45em) {
  main {
    text-align: left;
    margin-bottom: 0;
  }
}
.content p:not([class]) {
  max-width: 28.7rem;
}

.home {
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}

.grid-12--home {
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

.grid-12--home > #text-content {
  grid-column: 1/-1;
}

.grid-12--home > #cta {
  grid-column: 1/-1;
}

@media (min-width: 35em) {
  .home {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 45em) {
  .home {
    background-image: url("../../assets/home/background-home-desktop.jpg");
    background-position: center;
  }
  .grid-12--home {
    gap: 1rem;
  }
  .grid-12--home > #text-content {
    grid-column: 2/8;
  }
  .grid-12--home > #cta {
    grid-column: 10/12;
  }
}
.destination {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}

@media (min-width: 35em) {
  .destination {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 45em) {
  .destination {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
}
.grid-12--destination {
  align-content: start;
}

.grid-12--destination > h1 {
  grid-column: 1/-1;
}

.grid-12--destination > picture {
  max-width: 60%;
  grid-column: 1/-1;
}

.grid-12--destination > .tab-list {
  grid-column: 1/-1;
}

.grid-12--destination > .content {
  grid-column: 1/-1;
}

.destination-meta {
  border-top: 1px solid hsl(var(--clr-light)/0.2);
  padding-top: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-column-gap: clamp(2rem, 6vw, 6rem);
       column-gap: clamp(2rem, 6vw, 6rem);
  row-gap: 1rem;
}

@media (min-width: 35em) {
  .grid-12--destination > h1 {
    justify-self: start;
  }
  .destination-meta {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 45em) {
  .grid-12--destination {
    justify-items: start;
    align-items: start;
  }
  .grid-12--destination > h1 {
    grid-column: 1/-1;
  }
  .grid-12--destination > picture {
    max-width: 90%;
    grid-column: 1/7;
    grid-row: 2/4;
  }
  .grid-12--destination > .tab-list {
    grid-column: 8/-1;
  }
  .grid-12--destination > .content {
    grid-column: 8/-1;
  }
  .destination-meta {
    justify-content: start;
  }
}
.crew {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}

@media (min-width: 35em) {
  .crew {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
  .grid-12--crew > h1 {
    justify-self: start;
  }
}
@media (min-width: 45em) {
  .crew {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
}
.grid-12--crew {
  align-content: start;
}

.grid-12--crew > h1 {
  grid-column: 1/-1;
}

.grid-12--crew > picture {
  max-width: 50%;
  grid-column: 1/-1;
  border-bottom: 1px solid hsl(var(--clr-light)/0.2);
}

.grid-12--crew > .tab-list {
  grid-column: 1/-1;
}

.grid-12--crew > .content {
  grid-column: 1/-1;
}

@media (min-width: 35em) {
  .grid-12--crew {
    padding-bottom: 0;
  }
  .grid-12--crew > .content {
    grid-row: 2;
  }
  .grid-12--crew > .tab-list {
    grid-row: 3;
  }
  .grid-12--crew > picture {
    grid-row: 4;
  }
}
@media (min-width: 45em) {
  .grid-12--crew {
    justify-items: start;
    align-items: start;
    align-content: stretch;
  }
  .grid-12--crew > h1 {
    grid-column: 2/-1;
  }
  .grid-12--crew > picture {
    max-width: 90%;
    grid-column: 9/13;
    grid-row: 2/4;
  }
  .grid-12--crew > .content {
    grid-column: 2/9;
    grid-row: 2;
  }
  .grid-12--crew > .dot-indicators {
    grid-column: 2/8;
    grid-row: 3;
    align-self: end;
    margin-bottom: 3rem;
  }
}
.technology {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}

@media (min-width: 35em) {
  .technology {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 45em) {
  .technology {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}
.grid-12--technology {
  overflow: hidden;
}

.grid-12--technology > h1 {
  grid-column: 1/-1;
}

.grid-12--technology > picture {
  transform: scale(1.1);
  margin-block: 1rem;
  grid-column: 1/-1;
  border-bottom: 1px solid hsl(var(--clr-light)/0.2);
}

.grid-12--technology > .tab-list {
  grid-column: 1/-1;
}

.grid-12--technology > .content {
  grid-column: 1/-1;
}

@media (min-width: 35em) {
  .grid-12--technology {
    padding-bottom: 0;
  }
  .grid-12--technology > h1 {
    justify-self: start;
  }
}
@media (min-width: 45em) {
  .grid-12--technology {
    align-content: stretch;
  }
  .grid-12--technology > h1 {
    grid-column: 2/13;
  }
  .grid-12--technology > picture {
    max-width: 85%;
    grid-column: 8/13;
    grid-row: 2;
    justify-self: end;
    align-self: start;
  }
  .grid-12--technology > .content {
    justify-self: start;
    grid-column: 3/8;
    grid-row: 2;
  }
  .grid-12--technology > .number-indicators {
    flex-direction: column;
    justify-self: end;
    grid-column: 2;
    grid-row: 2;
  }
}/*# sourceMappingURL=main.css.map */